body{
    margin: 0;
    padding: 0;
}

#video-grid{
    display: flex;
    justify-content: center;
}

video{
    height:  250px;
    width: 350px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}

.main{
    height: 100vh;
    display: flex;
}

.main-left{
    flex: 0.8;
    display: flex;
    flex-direction: column;

}

.main-right{
    flex: 0.2;
}

.main-videos{
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.main-controls{
    display: flex;
    background-color: #1C1E20;
    color: rgb(219, 215, 215);
    padding: 5px;
    justify-content: space-between;
}

.main-controls-block{
    display: flex;
}

 .main-controls-button{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 8px 10px;
     min-width: 80px;
     cursor: pointer;
 }

 .main-controls-button:hover{
     background-color: rgb(59, 59, 59);
     border-radius: 5px;
 }

 .main-controls-button i{
     font-size: 24px;
 }

 .leave_meeting{
    color: rgb(238, 62, 62);
    font-size: 18px;
 }

 .main-right{
     display: flex;
     flex-direction: column;
     background-color: #242324;
     border-left: 1px solid #3D3D42;
 }

 .main-header{
     color: #F5F5F5;
     text-align: center;
 }

 .main-chat-window{
     flex-grow: 1;
     overflow-y: scroll;
 }

 .main-message-container{
     padding: 22px 12px;
     display: flex;
 }


 .main-message-container input{
     flex-grow: 1;
     background-color: transparent;
     border: none;
     color: blanchedalmond;
 }

 .messages{
     color: white;
     list-style: none;
 }

 .unmute, .stop{
     color: rgb(212, 23, 23);
 }